<div class="ui container">
    <h2 class="ui header">{{label}}</h2>
    <form class="ui form" (ngSubmit)="onSubmit()" [formGroup]="form">
        <div *ngFor="let field of fields; let i = index;" class="fields">
            <ng-container *ngIf="utils.isArray(field)">
                <ng-container *ngFor="let _field of field">
                    <div class="{{_field.wide || 'sixteen'}} wide field" [ngClass]="{required: !!_field.required, error: hasError(_field)}" coreField [field]="_field" [form]="form"></div>
                </ng-container>
            </ng-container>
            <div *ngIf="!utils.isArray(field)" class="sixteen wide field" [ngClass]="{required: !!field.required, error: hasError(field)}" coreField [field]="field" [form]="form"></div>
        </div>
        <sui-message *ngIf="clicked && !form.valid" class="error" [isDismissable]="false">
            <div class="header">{{errorHeader}}</div>
            <p>{{errorMessage}}</p>
        </sui-message>
        <button class="ui primary right floated button" type="submit">{{submitLabel}}</button>
        <button *ngIf="cancelButton" class="ui right floated button" type="button" (click)="onCancel()">{{cancelLabel}}</button>
        <div class="clearfix"></div>
    </form>
</div>
