<!-- <core-tile-grid [tiles]="tiles"></core-tile-grid> -->
<core-table
    headerTitle="Employees"
    [items]="items"
    [itemCount]="itemCount"
    [showReloading]="true"
    [rowTooltip]="rowTooltip"
    [selectColumn]="true"
    [expandableRows]="true"
    (reload)="reloadItems($event)"
    (rowClick)="rowClick($event)"
    (rowDoubleClick)="rowDoubleClick($event)"
>
    <ng-template #dataTableExpand let-item="item">
        <div [textContent]="item.name + ' - '+ item.jobTitle" style="padding: 5px; color: gray"></div>
    </ng-template>
    <core-table-column [property]="'name'" [header]="'Name'" [sortable]="true" [resizable]="true">
    </core-table-column>
    <core-table-column [property]="'date'" [header]="'Date'" [sortable]="true">
        <ng-template #dataTableCell let-item="item">
            <span>{{item.date | date:'yyyy-MM-dd'}}</span>
        </ng-template>
    </core-table-column>
    <core-table-column property="phoneNumber" header="Phone number" width="150px">
    </core-table-column>
    <core-table-column [property]="'jobTitle'" [header]="'Job title'" [visible]="false">
    </core-table-column>
    <core-table-column [property]="'active'" [header]="'Active'" [width]="100" [resizable]="true">
        <ng-template #dataTableHeader let-item="item">
            <span style="color: rgb(232, 0, 0)">Active</span>
        </ng-template>
        <ng-template #dataTableCell let-item="item">
            <span style="color: grey">
                <span class="glyphicon glyphicon-ok" *ngIf="item.active"></span>
            <span class="glyphicon glyphicon-remove" *ngIf="!item.active"></span>
            </span>
        </ng-template>
    </core-table-column>
</core-table>
