<div class="core-table-header">
    <div class="ui text menu">
        <div class="item">
            <h3 class="ui header">{{dataTable.headerTitle}}</h3>
        </div>
        <div class="right menu">
            <a class="item" (click)="dataTable.reloadItems()"><i class="sync icon"></i></a>
            <div class="ui dropdown item" suiDropdown>
                <i class="columns icon"></i>
                <div class="menu" suiDropdownMenu>
                    <div *ngIf="dataTable.expandableRows" class="item">
                        <div class="ui toggle checkbox">
                          <input name="example" type="checkbox" [(ngModel)]="dataTable.expandColumnVisible">
                          <label>{{dataTable.translations.expandColumn}}</label>
                        </div>
                    </div>
                    <div *ngIf="dataTable.indexColumn" class="item">
                        <div class="ui toggle checkbox">
                          <input name="example" type="checkbox" [(ngModel)]="dataTable.indexColumnVisible">
                          <label>{{dataTable.translations.indexColumn}}</label>
                        </div>
                    </div>
                    <div *ngIf="dataTable.selectColumn" class="item">
                        <div class="ui toggle checkbox">
                          <input name="example" type="checkbox" [(ngModel)]="dataTable.selectColumnVisible">
                          <label>{{dataTable.translations.selectColumn}}</label>
                        </div>
                    </div>
                    <div *ngFor="let column of dataTable.columns" class="item">
                        <div class="ui toggle checkbox">
                          <input name="example" type="checkbox" [(ngModel)]="column.visible">
                          <label>{{column.header}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
